@import "tailwindcss";
@plugin "daisyui";

.glass-card {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}

.glow-shadow {
  box-shadow: 0 0 20px rgba(16, 185, 129, 0.2);
}

@keyframes border-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes border-spin-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.animate-border-spin {
  animation: border-spin 4s linear infinite;
}
.animate-border-spin-reverse {
  animation: border-spin-reverse 4s linear infinite;
}
@keyframes light-travel {
  0% {
    top: 0%;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}

.animate-light-travel {
  position: absolute;
  width: 2px;
  height: 80px;
  background: linear-gradient(
    to bottom,
    transparent,
    #55b4e4,
    #8e7cdb,
    transparent
  );
  animation: light-travel 4s linear infinite;
}
